@import "../abstract/variables";

#dstq {
  background: linear-gradient(
    90deg,
    #e5c888 24.33%,
    rgba(217, 217, 217, 0) 108.09%
  );
  height: 80vh;
}

#img_mdl{
      img{
            width: 100vw;
      }
}
